/* SOLUZIONE PRIMO ESERCIZIO */

.ex-1-square:hover {
    background-color: red;
    transition: 3s;
}

/* SOLUZIONE SECONDO ESERCIZIO */

.ex-2-square:active {
    width: 100%;
    transition: 3s;
}

/* SOLUZIONE TERZO ESERCIZIO */

.ex-3-square:hover {
    border-radius: 100%;
    transition: 3s;
}

/* SOLUZIONE QUARTO ESERCIZIO */

.ex-4-square:hover {
    background-color: rgba(255, 0, 0, 0);
    transition: 3s;
}

/* SOLUZIONE QUINTO ESERCIZIO */

.ex-5-square:hover {
    transform: scale(1.5);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* SOLUZIONE SESTO ESERCIZIO */

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* SOLUZIONE SETTIMO ESERCIZIO */

.ex-7-img:hover {
    filter: drop-shadow(8px 8px 10px black);
    transform: rotate(180deg);
}

/* SOLUZIONE ESERCIZIO OTTO */

.ex-8-img:hover {
    filter: brightness(200%) drop-shadow(8px 8px 10px black);
    border-radius: 30px;
}

/* SOLUZIONE ESERCIZIO NOVE */

.ex-9-img:hover {
    filter: blur(5px) hue-rotate(90deg);
    border-radius: 30px;
    transform: scale(1.5);
}